{% extends "auctions/layout.html" %}

{% block body %}
    <h2>New Listing</h2>

    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="title" class="form-label">Title: </label>
            <input type="text" class="form-control" id="title" name="title" placeholder="title">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description: </label>
            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
        </div>
        <div class="mb-3">
            <label for="img_url" class="form-label">Image URL: </label>
            <input type="text" class="form-control" id="img_url" name="img_url" placeholder="image url">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price: </label>
            <input type="number" class="form-control" id="price" name="price" placeholder="price">
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Category: </label>
            <select class="form-select" id="category" name="category">
                {% for category in categories %}
                    <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
            </select>
        </div>
        <input class="btn btn-primary" type="submit" value="Submit">

    </form>
{% endblock %}